html,
body {
    font: 14px Verdana;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FAFAFA;
    background: url(../img/bg/bg1.jpg) no-repeat center center fixed;
    background-size: cover;
}
.wrap {
    min-height: 100%;
}
/*Левое меню*/
#left_menu_wrap{
    background-color: #200020;
    opacity: 0.7;
    position: fixed;
    width: 200px;
    height: 100%;
    float: left;
}
#left_menu{
    font-size: 16px;
    font-weight: bold;
    color: #222222;
    width: 200px;
    height: 100%;
    float: left;
    position: fixed;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#left_menu .lost_pass{
    display: block;
    color: #ccc;
    text-decoration: none;
    margin-bottom: 20px;
}
#left_menu .lost_pass:hover{
    text-decoration: underline;
}
#left_menu ol{
    margin: 0;
    padding: 0;
    width: 200px;
    position: absolute;
    top: 150px;
    text-align: center;
}
#left_menu li a{
    color: #222222;
    display: block;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    opacity: 0.7;
    margin: 2px 5px 8px 5px;
    padding: 0;
    border: 1px solid #ffffff;
    border-radius:3px;
}
#left_menu li a:hover{
    opacity: 1;
}
#left_menu a:active{
    transform: translate(1px,2px);
}
#left_menu input[type="text"], #left_menu input[type="password"]{
    font-size: 16px;
    font-weight: bold;
    width: 190px;
    height: 35px;
    margin: 2px 3px 8px 3px;
    border: 1px solid gray;
    border-radius:5px;
}
#left_menu input[type=submit]{
    font-size: 16px;
    font-weight: bold;
    opacity: 0.7;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    width: 190px;
    height: 40px;
    margin: 2px 3px 8px 3px;
    border: none;
    border-radius:3px;
}
#logo{
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    width: 200px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 20px 0 0;
    padding: 0;
    cursor: pointer;
    line-height: 100px;
}
.logo_boot{
    font-size: 14px;
    display: block;
    color: #FAFAFA;
    position: relative;
    margin-top: 120px;
}
#left_menu input[name]{
    text-align: center;
}
/**Классы полей взаимодействия*/
#left_menu .active{
    border: solid 2px #ffffff;
    background-color: #ffffff;
    box-shadow: 0 0 14px #fff;
}
/*Основной блок*/
#main{
    padding-left: 200px;
    padding-top: 1px;
    min-height: 400px;
}

/*Блок регистрации*/
#main .reg{
    margin: 110px auto 10px auto;
    background-color: #fff;
    width: 300px;
    padding: 20px;
    opacity: 0.95;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;
    -moz-box-shadow: 0 0 14px #fff;
    -webkit-box-shadow: 0 0 14px #fff;
    box-shadow: 0 0 14px #fff;
}

#main caption{
    font-weight : bold;
}

#main p {
    text-align: center;
    font-weight : bold;
    color: red;
}

#main p a{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.reg table{
    margin: 5px auto;
    text-align: center;
}

.reg input[name]{
    margin: 4px;
    text-align: center;
    width: 190px;
}

.reg input[type='submit']{
    width: 196px;
    cursor: pointer;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;
}

.active {
    border: solid 2px #ffffff;
    background-color: #ffffff;
    -moz-box-shadow: 0 0 14px #123;
    -webkit-box-shadow: 0 0 14px #123;
    box-shadow: 0 0 14px #123;
}
.error_input {
    border: solid 2px #ff0000;
    background-color: #ffdddd;
    -moz-box-shadow: 0 0 14px #f00;
    -webkit-box-shadow: 0 0 14px #f00;
    box-shadow: 0 0 14px #f00;
}
.prov{
    border: solid 2px #00ff00;
    background-color: #ddffdd;
    -moz-box-shadow: 0 0 14px #0f0;
    -webkit-box-shadow: 0 0 14px #0f0;
    box-shadow: 0 0 14px #0f0;
}
#main .msg_er{
    background-color: white;
    width: 300px;
    margin: 10px auto;
    padding: 20px;
    opacity: 0.95;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;
    -moz-box-shadow: 0 0 14px #fff;
    -webkit-box-shadow: 0 0 14px #fff;
    box-shadow: 0 0 14px #fff;
}

/*Error*/
.error {
    text-align: center;
    margin: 110px auto 10px auto;
    padding-top: 20px;
    width: 600px;
    min-height: 150px;
    border: solid 2px #ff0000;
    background-color: #ffdddd;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;
    -moz-box-shadow: 0 0 14px #f00;
    -webkit-box-shadow: 0 0 14px #f00;
    box-shadow: 0 0 14px #f00;
}
.footer {
    margin-top: -60px;
    margin-left: 230px;
}

/**вспомогательный блок*/
.develop {
    width: 240px;
    margin: 0 auto;
    height: 20px;
    background: rgb(255,255,255);
}